/* stylelint-disable at-rule-no-unknown */
/* stylelint-disable-next-line import-notation */
@import "tailwindcss";

*,
*::before,
*::after {
   box-sizing: border-box;

   margin: 0;
   padding: 0;
}

html {
   font-family:
      "SF Mono",
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
}

input,
label,
select,
textarea,
button,
fieldset,
legend,
datalist,
output,
option,
optgroup {
   font-family: inherit;
}

:root {
   --background: #fff;
   --foreground: #171717;
   --primary: #214268;
}

@theme inline {
   --color-background: var(--background);
   --color-foreground: var(--foreground);
   --font-sans: var(--font-geist-sans);
   --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
   :root {
      --background: #fff;
      --foreground: #0a0a0a;
   }
}

body {
   background: var(--background);
   color: var(--foreground);
   font-feature-settings: "ss01";

   box-sizing: border-box;
}

.container {
   max-width: 1580px;
   margin: 0 auto;
   padding: 0 20px;
}

.center {
   display: flex;
   align-items: center;
   justify-content: center;
}

.center-col {
   display: flex;
   align-items: center;
   justify-content: center;
}

/* //^ ADVANCED CSS COURSE ************************************************************************/
.wrapper {
   background-color: var(--background);
   width: min(70rem, 100% - 3rem);
   margin-inline: auto;
   padding-block: 1rem;
}

@media (width <= 520px) {
   .container {
      padding: 0 0;
   }
}
