@import "tailwindcss";

*,
*::before,
*::after {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

html {
   font-family:
      "JetBrains Mono",
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
}
input,
label,
select,
textarea,
button,
fieldset,
legend,
datalist,
output,
option,
optgroup {
   font-family: inherit;
}
:root {
   --background: #dddbdb;
   --foreground: #171717;
}

@theme inline {
   --color-background: var(--background);
   --color-foreground: var(--foreground);
   --font-sans: var(--font-geist-sans);
   --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
   :root {
      --background: #dddbdb;
      --foreground: #0a0a0a;
   }
}

body {
   background: var(--background);
   color: var(--foreground);
}

.container {
   max-width: 1580px;
   margin: 0 auto;
   padding: 0 20px;
}

.center {
   display: flex;
   align-items: center;
   justify-content: center;
}

.center-col {
   display: flex;
   align-items: center;
   justify-content: center;
}

/*//^ ADVANCED CSS COURSE ************************************************************************/
.wrapper {
   min-height: 100dvh;
}
