.cta_wrapper {
   height: 25rem;
   margin: 1rem;
   border-radius: 1.25rem;
   background-color: rgba(100, 148, 237, 0.15);
   row-gap: 1rem;
   display: grid;
   padding-inline: 2rem;
   box-shadow: 1px 1px 50px #ccc;
   border: 5px solid transparent;
   grid-template-columns: repeat(4, 1fr);
   grid-template-areas: "text text text image";
   .cta_writings {
      grid-area: text;
      height: 100%;
      display: grid;
      align-content: center;
      row-gap: 1.75rem;
      padding-block: 1rem;
      h2 {
         color: var(--primary);
         font-size: 2rem;
         font-weight: 700;
         letter-spacing: -1.5px;
      }
      p {
         font-size: 1.25rem;
         color: #404040;
         font-weight: 500;
         letter-spacing: -1px;
         max-width: 50%;
         line-height: 1.65;
      }
      button {
         width: fit-content;
         display: flex;
         align-items: center;
         justify-content: center;
         column-gap: 0.4rem;
         background-color: var(--color-slate-600);
         color: white;
         font-weight: 700;
         border-radius: 99rem;
         padding-inline: 1rem 0.25rem;
         padding-block: 0.25rem;
         cursor: pointer;
         transition: all 300ms linear;
         &:hover {
            background-color: var(--primary);
         }
      }
   }
   .cta_image_wrapper {
      grid-area: image;
      align-self: center;
      .cta_image {
         scale: 1.25;
      }
   }
}

@media (width <= 1180) {
   .cta_wrapper {
      grid-template-columns: repeat(6, 1fr);
      grid-template-areas: "text text text text  image image";
      .cta_writings {
         row-gap: 1rem;
         h2 {
            max-width: 70%;
         }
      }
      .cta_image_wrapper {
         align-self: center;
         scale: 1.25;
      }
   }
}

@media (width <= 950) {
   .cta_wrapper {
      height: auto;
      grid-template-areas: "text text text image image image";
      .cta_writings {
         h2 {
            max-width: 100%;
         }
         p {
            max-width: 90%;
         }
      }
      .cta_image_wrapper {
         .cta_image {
            scale: 1;
         }
      }
   }
}

@media (width <= 780) {
   .cta_wrapper {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: "image image" "text text";
      padding-inline: 1.5rem;

      .cta_writings {
         h2 {
            max-inline-size: 75vw;
         }
      }
      .cta_image_wrapper {
         .cta_image {
            margin-inline: auto;
         }
      }
   }
}

@media (width <=640) {
   .cta_wrapper {
      .cta_writings {
         h2 {
            max-inline-size: 80vw;
         }
      }
   }
}

@media (width <= 470) {
   .cta_wrapper {
      padding-inline: 0.5rem;
      .cta_writings {
         h2 {
            max-width: 85vw;
            letter-spacing: -1.5px;
         }
      }
      .cta_image_wrapper {
         .cta_image {
            scale: 0.9;
         }
      }
   }
}
