.grid-wrapper {
   margin-top: 6rem;
   height: auto;
   padding: 2rem;
   border-radius: 1.75rem;

   display: grid;
   grid-template-columns: repeat(6, 1fr);
   grid-template-areas:
      "one one two two three three"
      "four four four five five five"
      "six six six six six six";

   .box {
      height: 20rem;
      margin: 1.5rem;
      border-radius: 1.25rem;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
      font-weight: 900;
      box-shadow: 1px 1px 50px #ccc;
      border: 5px solid transparent;
      transition: all 200ms linear;
      cursor: pointer;
      &:hover {
         border-color: rgb(145, 175, 232);
         box-shadow: 1px 1px 2px rgb(145, 175, 232, 0.5);
      }
   }

   .one {
      grid-area: one;
   }
   .two {
      grid-area: two;
   }
   .three {
      grid-area: three;
   }
   .four {
      grid-area: four;
   }
   .five {
      grid-area: five;
   }
   .six {
      grid-area: six;
   }
}

@media (width <= 1720) {
   .grid-wrapper {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
         "one two"
         "three four"
         "five five"
         "six six ";
   }
}

@media (width <= 1440) {
   .grid-wrapper {
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas:
         "one one two two"
         "three three three four"
         "five five six six";
   }
}

@media (width <= 1024) {
   .grid-wrapper {
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas:
         "one one one one"
         "two two two three"
         "four five five five"
         "six six six six";
   }
}

@media (width <= 640) {
   .grid-wrapper {
      padding: 0;
      .box {
         margin: 1rem 0;
      }
      grid-template-columns: repeat(1, 1fr);
      grid-template-areas:
         "one"
         "two"
         "three"
         "four"
         "five"
         "six";
   }
}
