.grid-wrapper {
   margin-top: 6rem;
   height: auto;
   padding: 0;
   border-radius: 1.75rem;
   display: grid;
   grid-template-columns: repeat(6, 1fr);
   grid-template-areas:
      "one one two two three three"
      "four four four five five five"
      "six six six six six six";

   .box {
      height: 30rem;
      margin: 1rem;
      border-radius: 1.25rem;
      text-transform: uppercase;
      display: flex;
      flex-direction: column;
      row-gap: 0rem;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
      font-weight: 900;
      overflow: hidden;
      box-shadow: 1px 1px 50px #ccc;
      border: 5px solid transparent;
      transition: all 200ms linear;
      cursor: pointer;
      .value {
         font-family:
            "Geist Mono",
            system-ui,
            -apple-system,
            BlinkMacSystemFont,
            "Segoe UI",
            Roboto,
            Oxygen,
            Ubuntu,
            Cantarell,
            "Open Sans",
            "Helvetica Neue",
            sans-serif;
         font-size: 4rem;
         background: linear-gradient(
            to right,
            rgb(67, 126, 236),
            rgb(136, 169, 231)
         );
         background-clip: text;
         -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
         color: transparent;
      }

      .label {
         font-size: 1.75rem;
         color: #878686;
         letter-spacing: -1px;
         text-align: center;
         font-weight: 600;
      }

      &:hover {
         border-color: rgb(145, 175, 232);
         box-shadow: 1px 1px 2px rgb(145, 175, 232, 0.5);
         &:nth-child(odd) {
            rotate: 2deg;
         }
         &:nth-child(even):not(:last-child) {
            rotate: -2deg;
         }
         &:last-child {
            transform: translateY(6px);
         }
      }
   }

   .box.six {
      .flags_wrapper {
         display: flex;
         align-items: center;
         justify-content: space-around;
      }
   }

   .one {
      grid-area: one;
   }
   .two {
      grid-area: two;
   }
   .three {
      grid-area: three;
   }
   .four {
      grid-area: four;
   }
   .five {
      grid-area: five;
   }
   .six {
      grid-area: six;
   }
}

@media (width <= 1720) {
   .grid-wrapper {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
         "one two"
         "three four"
         "five five"
         "six six ";
   }
}

@media (width <= 1440) {
   .grid-wrapper {
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas:
         "one one two two"
         "three three three four"
         "five five six six";
   }
}

@media (width <= 1024) {
   .grid-wrapper {
      padding: 0.75rem;
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas:
         "one one one one"
         "two two two three"
         "four five five five"
         "six six six six";

      .box {
         margin: 0.75rem;
      }
   }
}

@media (width <= 790) {
   .grid-wrapper {
      padding: 0 1rem;
      .box {
         margin: 1rem 0;
      }
      grid-template-columns: repeat(1, 1fr);
      grid-template-areas:
         "one"
         "two"
         "three"
         "four"
         "five"
         "six";
   }
}
