.grid-wrapper {
   margin-top: 6rem;
   height: auto;
   padding: 0.5rem;
   background-color: #e7e7e790;
   border-radius: 0.75rem;

   display: grid;
   grid-template-columns: repeat(6, 1fr);
   grid-template-areas:
      "one one two two three three"
      "four four four five five five"
      "six six six six six six";

   .box {
      height: 20rem;
      margin: 0.5rem;
      border-radius: 0.25rem;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
      font-weight: 900;
   }

   .one {
      grid-area: one;
      background-color: white;
   }
   .two {
      grid-area: two;
      background-color: white;
   }
   .three {
      grid-area: three;
      background-color: white;
   }
   .four {
      grid-area: four;
      background-color: white;
   }
   .five {
      grid-area: five;
      background-color: white;
   }
   .six {
      grid-area: six;
      background-color: white;
   }
}

@media (width <= 1720) {
   .grid-wrapper {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
         "one two"
         "three four"
         "five five"
         "six six ";
   }
}

@media (width <= 1440) {
   .grid-wrapper {
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas:
         "one one two two"
         "three three three four"
         "five five six six";
   }
}

@media (width <= 1024) {
   .grid-wrapper {
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas:
         "one one one one"
         "two two two three"
         "four five five five"
         "six six six six";
   }
}

@media (width <= 640) {
   .grid-wrapper {
      grid-template-columns: repeat(1, 1fr);
      grid-template-areas:
         "one"
         "two"
         "three"
         "four"
         "five"
         "six";
   }
}
