/* HEADER CSS */
header {
   border: 3px solid black;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-inline: 120px;
   nav {
      ul {
         display: flex;
         gap: 20px;
         li {
            &:hover {
               text-decoration: underline;
               text-decoration-thickness: 2px;
               text-decoration-color: #214268;
            }
            a {
            }
         }
      }
   }
   .actions {
      display: flex;
      gap: 10px;
      button {
         background-color: #61a5f3;
         border-radius: 8px;
         padding: 10px 20px;
         color: whitesmoke;
         transition: all 500ms ease-in-out;
         cursor: pointer;
         font-weight: bold;
         &:hover {
            background-color: #214268;
         }
      }
   }
}
