/* HEADER CSS */
header {
   border: 3px solid black;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-inline: 120px;
   .logo {
   }
   nav {
      ul {
         li {
            a {
            }
         }
      }
   }
   .actions {
      display: flex;
      gap: 10px;
      button {
         background-color: #61a5f3;
         border-radius: 4px;
         padding: 12px 24px;
         color: whitesmoke;
         transition: all 500ms ease-in-out;
         cursor: pointer;
         font-weight: bold;
         &:hover {
            background-color: #214268;
         }
      }
   }
}
