/* HEADER CSS */
header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-block-start: 10px;

   .logo {
      width: 200px;
      height: 40px;
   }
   nav {
      ul {
         display: flex;
         gap: min(3rem, 1rem);
         list-style: none;
         white-space: nowrap;
         li {
            &:hover {
               color: var(--primary);
               font-weight: 600;
            }
            &.active {
               color: var(--primary);
               font-weight: 600;
            }
         }
      }
   }
   .actions {
      display: flex;
      gap: 0.75rem;
      button {
         background-color: var(--primary);
         border-radius: 8px;
         padding: 10px 20px;
         color: whitesmoke;
         transition: all 500ms ease-in-out;
         cursor: pointer;
         font-weight: bold;
         &.outline {
            color: var(--primary);
            background-color: transparent;
            border: 2px solid var(--primary);
            padding: 8px 20px;
            &:hover {
               background-color: rgb(200, 215, 243);
            }
         }
         &:hover {
            background-color: #3a7ecc;
         }
      }
   }
   .mobile-hamburger {
      display: none;
   }
}

/* RESPONSIVE DESIGN __________________________________________________________________________________________________________________ */
@media (width <= 1024px) {
   header {
      background-color: transparent;
      box-shadow: none;
      padding-inline: 0;
      padding-block: 1rem;
      .logo {
         width: 140;
         height: 30;
      }
      nav {
         display: none;
      }
   }
}

@media (width <= 768px) {
   header {
      .actions {
         gap: 5px;
         button {
            padding: 5px 10px;
         }
      }
   }
}

@media (width <= 490px) {
   header {
      .logo {
         width: 100;
         height: 20;
      }
      .actions {
         display: none;
      }
      .mobile-hamburger {
         display: block;
      }
   }
}

@media (width <= 400px) {
}
