.hero {
   background-color: #fff;

   position: relative;
   inset: 0;
   z-index: 10;

   .bg-image {
      position: absolute;
      inset-block: 0;
      inset-inline-end: 0;
      z-index: -1;
      width: 70%;
      height: 100%;
      object-fit: contain;
   }

   .hero-content {
      background: #fff;
      background: linear-gradient(
         90deg,
         rgb(255 255 255 / 100%) 0%,
         rgb(255 255 255 / 60%) 74%,
         rgb(255 255 255 / 0%) 100%
      );
      background-color: transparent;

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      row-gap: 3.5rem;

      inline-size: min(81.75rem, 100% - 2rem);

      margin: 0 auto;
      padding-block: 5rem;

      h1 {
         color: var(--primary);

         max-inline-size: 90%;

         font-size: 4.25rem;
         font-weight: 800;

         line-height: 1.3;
      }

      p {
         max-inline-size: 54%;

         font-size: 1.75rem;
         font-weight: 400;

         line-height: 1.5;
      }

      .actions {
         display: flex;
         align-items: center;
         justify-content: center;
         gap: 0.75rem;

         button {
            background-color: var(--primary);
            color: whitesmoke;

            padding: 10px 20px;

            border-radius: 8px;

            font-weight: bold;

            transition: all 500ms ease-in-out;

            cursor: pointer;

            &.outline {
               background-color: transparent;
               color: var(--primary);

               padding: 8px 20px;

               border: 2px solid var(--primary);

               &:hover {
                  background-color: rgb(200 215 243);
               }
            }

            &:hover {
               background-color: #3a7ecc;
            }
         }
      }
   }
}

/* RESPONSIVE _______________________________________________________-- */
@media (width <= 1350px) {
   .hero {
      block-size: 35rem;

      .hero-content {
         row-gap: 2rem;

         padding-inline-start: 2rem;

         h1 {
            max-inline-size: 70%;

            font-size: 3.75rem;
         }

         p {
            max-inline-size: 50%;

            font-size: 1.5rem;
         }
      }
   }
}

@media (width <= 1280px) {
   .hero {
      min-block-size: 30rem;
   }
}

@media (width <= 1180px) {
   .hero {
      block-size: 32rem;

      .hero-content {
         row-gap: 2rem;

         h1 {
            font-size: 3.25rem;
         }

         p {
            max-inline-size: 40%;

            font-size: 1.25rem;
         }
      }
   }
}

@media (width <= 1024px) {
   .hero {
      .bg-image {
         block-size: 90%;
      }

      .hero-content {
         row-gap: 2rem;

         padding-block: 2.5rem;

         h1 {
            max-inline-size: 60%;

            font-size: 2.75rem;
         }

         p {
            max-inline-size: 55%;

            font-size: 1.25rem;
         }
      }
   }
}

@media (width <= 790px) {
   .hero {
      .hero-content {
         row-gap: 2rem;

         h1 {
            font-size: 2.5rem;
         }

         p {
            font-size: 1.15rem;
         }
      }
   }
}

@media (width <= 720px) {
   .hero {
      block-size: 26rem;

      .hero-content {
         h1 {
            max-inline-size: 85%;
         }
      }
   }
}

@media (width <= 640px) {
   .hero {
      block-size: 30rem;
   }
}

@media (width <= 540px) {
   .hero {
      block-size: 25rem;

      .hero-content {
         h1 {
            max-inline-size: 90%;
         }

         p {
            max-inline-size: 90%;
         }
      }
   }
}

@media (width <= 480px) {
   .hero {
      block-size: 28rem;

      .hero-content {
         h1 {
            max-inline-size: 95%;

            font-size: 2.25rem;
         }

         p {
            max-inline-size: 85%;

            font-size: 1.15rem;
         }
      }
   }
}

@media (width <= 440px) {
   .hero {
      block-size: 25rem;

      .hero-content {
         row-gap: 4rem;

         h1 {
            font-size: 2rem;
         }

         p {
            font-size: 1rem;
         }
      }
   }
}

@media (width <= 420px) {
   .hero {
      .hero-content {
         row-gap: 2rem;

         .actions {
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;

            button {
               padding: 8px 16px;

               &.outline {
                  width: 100%;

                  padding: 6px 16px;

                  text-align: start;
               }
            }
         }
      }
   }
}

@media (width <= 400px) {
   .hero {
      .hero-content {
         h1 {
            max-inline-size: 100%;
         }
      }
   }
}

@media (width <= 380px) {
   .hero {
      .hero-content {
         h1 {
            max-inline-size: 100%;
         }

         p {
            max-inline-size: 100%;
         }
      }
   }
}

@media (width <= 360px) {
   .hero {
      .hero-content {
         row-gap: 3rem;

         h1 {
            font-size: 1.75rem;
         }

         p {
            font-size: 1rem;
         }
      }
   }
}

@media (width <= 340px) {
   .hero {
      .hero-content {
         row-gap: 2rem;
      }
   }
}
