.hero {
   position: relative;

   .background-image {
      position: absolute;
      inset-block: 0;
      inset-inline-end: 0;
      z-index: -1;

      display: grid;
      grid-template-areas: "background";

      block-size: 42.5rem;

      .bg-image {
         grid-area: background;

         block-size: 100%;
         object-fit: cover;
      }

      .overlay {
         grid-area: background;

         background-image: linear-gradient(
            to left,
            transparent,
            hsl(0deg 0 100)
         );

         inline-size: 100%;
      }
   }

   .hero-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      row-gap: 3.5rem;
      min-block-size: 40rem;

      padding-block: 5rem;
      /* padding-inline-start: max(1rem, ((100% - 70rem) / 2)); */

      h1 {
         color: var(--primary);

         max-inline-size: 38%;

         font-size: clamp(4rem, 2rem, 1rem);
         font-weight: 800;

         line-height: 1.3;
      }

      p {
         max-inline-size: 37%;

         font-size: 1.75rem;
         font-weight: 400;

         line-height: 1.5;
      }

      .actions {
         display: flex;
         align-items: center;
         justify-content: center;
         gap: 0.75rem;

         button {
            background-color: var(--primary);
            color: whitesmoke;

            padding: 10px 20px;

            border-radius: 8px;

            font-weight: bold;

            transition: all 500ms ease-in-out;

            cursor: pointer;

            &.outline {
               background-color: transparent;
               color: var(--primary);

               padding: 8px 20px;

               border: 2px solid var(--primary);

               &:hover {
                  background-color: rgb(200 215 243);
               }
            }

            &:hover {
               background-color: #3a7ecc;
            }
         }
      }
   }
}

@media (max-width: 768px) {
   .hero {
      .hero-content {
         row-gap: 1rem;
         .actions {
            margin-top: 2rem;
            button {
               block-size: 60px;
            }
         }
         h1 {
            max-width: 100%;
         }

         p {
            max-inline-size: 80%;
         }
      }
   }
}
