.hero {
   background-color: white;
   position: relative;
   inset: 0;
   z-index: 10;

   .bg-image {
      position: absolute;
      inset-inline-end: 0;
      inset-block-start: 0;
      inset-block-end: 0;
      height: 100%;
      width: 70%;
      z-index: -1;
   }
   .hero-content {
      inline-size: min(81.75rem, 100% - 2rem);
      background: #fff;
      background: linear-gradient(
         90deg,
         rgba(255, 255, 255, 1) 0%,
         rgba(255, 255, 255, 0.6) 74%,
         rgba(255, 255, 255, 0) 100%
      );

      margin: 0 auto;
      block-size: inherit;
      padding-block: 5rem;
      background-color: transparent;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      row-gap: 3.5rem;
      h1 {
         color: var(--primary);
         font-size: 4.25rem;
         font-weight: 800;
         max-inline-size: 90%;
         line-height: 1.3;
      }
      p {
         font-size: 1.75rem;
         font-weight: 400;
         max-inline-size: 54%;
         line-height: 1.5;
      }
      .actions {
         display: flex;
         align-items: center;
         justify-content: center;
         gap: 0.75rem;
         button {
            background-color: var(--primary);
            border-radius: 8px;
            padding: 10px 20px;
            color: whitesmoke;
            transition: all 500ms ease-in-out;
            cursor: pointer;
            font-weight: bold;
            &.outline {
               color: var(--primary);
               background-color: transparent;
               border: 2px solid var(--primary);
               padding: 8px 20px;
               &:hover {
                  background-color: rgb(200, 215, 243);
               }
            }
            &:hover {
               background-color: #3a7ecc;
            }
         }
      }
   }
}

/* RESPONSIVE _______________________________________________________-- */
@media (width <= 1350px) {
   .hero {
      block-size: 35rem;
      .hero-content {
         padding-inline-start: 2rem;
         row-gap: 2rem;
         h1 {
          max-inline-size: 70%;
          font-size: 3.75rem;
         }
         p {
          font-size: 1.5rem;
          max-inline-size: 50%;
         }
      }
   }
}

@media (width <= 1280px) {
   .hero {
      min-block-size: 30rem;
   }
}
@media (width <= 1024px) {
   .hero {
      .hero-content {
         h1 {
            font-size: 3rem;
            max-inline-size: 60%;
         }
         p {
            font-size: 1.5rem;
            max-inline-size: 55%;
         }
      }
   }
}
@media (width <= 640px) {
   .hero {
      min-block-size: 30rem;
   }
}
@media (width <= 480px) {
   .hero {
      .hero-content {
         h1 {
            font-size: 2rem;
            max-inline-size: 95%;
         }
         p {
            font-size: 1rem;
            max-inline-size: 85%;
         }
      }
   }
}
