.quote_wrapper {
   height: 600px;
   margin-block: 3rem;
   border-radius: 0.75rem;
   .quote_background {
      width: 90%;
      height: 100%;
      margin-inline: auto;
      border-radius: 2rem;
      box-shadow: 1px 1px 80px #02020250;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 1.25rem;

      .quote_writings {
         grid-column: 1 / span 1;
         display: grid;
         padding-inline: 4rem;
         justify-content: center;
         align-content: center;
         row-gap: 0.75rem;
         h3 {
            font-size: 1.75rem;
            color: var(--primary);
            font-weight: 700;
         }
         p {
            font-size: 1.5rem;
            line-height: 1.75;
            color: #606060;
            font-weight: 600;
            text-align: justify;
            max-inline-size: 80%;
         }
         .quote_writings_icon {
            fill: #ebeaea;
            scale: 1.5;
            rotate: 180deg;
            margin-top: 3rem;
         }
      }

      .quote_cta {
         grid-column: 2 / span 1;
         position: relative;
         inset: 0;
         .van_image {
            position: absolute;
            top: -14%;
            right: -10.5%;
            scale: 1.25;
            animation: bounce 5s both infinite;
         }
         .quote_cta_btn {
            display: flex;
            gap: 0.5rem;
            background-color: rgb(48, 66, 98);
            padding: 0.5rem 0.5rem 0.5rem 1rem;
            color: white;
            font-size: 1.25rem;
            font-weight: 800;
            border-radius: 999rem;
            position: absolute;
            bottom: 2rem;
            right: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: all 250ms linear;
            .arrow_right_icon {
               transition: all 250ms linear;
               background-color: white;
               color: cornflowerblue;
               border-radius: 999rem;
               padding: 0.3rem;
            }
            &:hover {
               background-color: var(--primary);
               padding-inline-end: 1rem;
               .arrow_right_icon {
                  transform: translateX(0.325rem);
               }
            }
         }
      }
   }
}

@media (width <= 1600px) {
   .quote_wrapper {
      .quote_background {
         .quote_writings {
            padding-inline: clamp(1rem, 2.5rem, 3rem);
         }
         .quote_cta {
            .van_image {
               scale: 1.25;
               top: -10%;
               right: 3.5%;
            }
         }
      }
   }
}

@media (width <= 1460px) {
   .quote_wrapper {
      .quote_background {
         width: 95%;
         .quote_writings {
            p {
               max-inline-size: 100%;
            }
            .quote_writings_icon {
               transform: scale(0.5) translate(26%, 30%);
            }
         }
         .quote_cta {
            .van_image {
               top: -6%;
               right: -4.5%;
            }
         }
      }
   }
}

@media (width <= 1320px) {
   .quote_wrapper {
      .quote_background {
         column-gap: 0;
         .quote_cta {
            .van_image {
               top: -3%;
               right: -1.5%;
               scale: 1.3;
            }
         }
      }
   }
}

@media (width <= 1050px) {
   .quote_wrapper {
      margin-block: 1.5rem;
      .quote_background {
         .quote_cta {
            .van_image {
               top: 4%;
               scale: 1.25;
            }
         }
         .quote_writings {
            p {
               font-size: 1.25rem;
               line-height: 1.75;
            }
            .quote_writings_icon {
               margin-top: 0;
            }
         }
      }
   }
}

@media (width <= 820px) {
   .quote_wrapper {
      .quote_background {
         display: flex;
         width: 99%;
         flex-direction: column-reverse;
         gap: 1rem;
         .quote_writings {
            padding-inline: 2rem;
            .quote_writings_icon {
               scale: 1;
               margin-top: -0.5rem;
               transform: translate(13%, 11%) scale(0.5);
            }
         }
         .quote_cta {
            flex-basis: 70%;
            .van_image {
               top: -29vw;
               left: -15%;
               scale: 0.7;
            }
            .quote_cta_btn {
               bottom: 0.5rem;
               font-size: 1rem;
               padding: 0.75rem 1.5rem;
               display: flex;
               align-items: center;
            }
         }
      }
   }
}

@media (width <= 768px) {
   .quote_wrapper {
      .quote_background {
         .quote_cta {
            .van_image {
               top: -28vw;
               left: -15%;
               scale: 0.7;
            }
         }
      }
   }
}

@media (width <= 680px) {
   .quote_wrapper {
      .quote_background {
         gap: 0;
         .quote_cta {
            .van_image {
               scale: 0.75;
               top: -26vw;
               left: -13%;
            }
         }
      }
   }
}

@media (width <= 620px) {
   .quote_wrapper {
      .quote_background {
         height: 650px;
         width: 100%;
         .quote_writings {
            padding-inline: min(1rem, 25vw);
            h3 {
               margin-top: 1rem;
            }
         }
      }
   }
}

@media (width <= 520px) {
   .quote_wrapper {
      padding-inline: 1rem;
      .quote_background {
         .quote_writings {
            h3 {
               margin-top: 0;
               max-inline-size: 70%;
            }
         }
      }
   }
}

@media (width <=460px) {
   .quote_wrapper {
      .quote_background {
         .quote_cta {
            .van_image {
               top: -26vw;
               left: -8%;
               scale: 0.9;
            }
         }
         .quote_writings {
            h3 {
               max-inline-size: 90%;
            }
            p {
               text-align: start;
               line-height: 1.5;
            }
         }
         height: 680px;
      }
   }
}

@media (width <= 370px) {
   .quote_wrapper {
      .quote_background {
         .quote_writings {
            h3 {
               max-inline-size: 100%;
            }
         }
      }
   }
}
