.services_wrapper {
   background-color: white;
   height: auto;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   column-gap: 30px;
   padding-block: 30px;
   .box {
      background:
         linear-gradient(white, white) padding-box,
         linear-gradient(
               to left,
               rgba(98, 169, 216, 0.465),
               rgba(98, 131, 220, 0.49)
            )
            border-box;
      border-radius: 20px;
      border: 4px solid transparent;
      padding: 24px;
      .box_content {
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         row-gap: 20px;
         .box_content_icon {
            background-color: rgba(100, 148, 237, 0.2);
            padding: 5px;
            border-radius: 10px;
         }
         .box_content_title {
            color: var(--primary);
            font-weight: 800;
            font-size: 1.5rem;
         }
         .box_content_description {
            color: #909090;
            font-size: 1.25em;
            font-weight: 500;
            margin-top: 10px;
         }
      }
   }
}

/*//^  RESPONSIVE _____________________________________________________________- */
@media (width <= 1220px) {
   .services_wrapper {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      justify-content: space-around;
      justify-items: center;
      column-gap: 0;
      gap: 20px;
      .box:last-child {
         grid-column-start: span 2;
         width: 100%;
      }
   }
}

@media (width <= 768px) {
   .services_wrapper {
      grid-template-columns: 1fr;
      .box:last-child {
         width: auto;
         grid-column-start: span 1;
      }
   }
}
