.services_wrapper {
   background-color: white;
   height: 400px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-block: 30px;
   .box {
      width: 30%;
      flex-basis: 30%;
      height: 100%;
      box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.397);
      background:
         linear-gradient(white, white) padding-box,
         linear-gradient(
               to left,
               rgba(98, 169, 216, 0.465),
               rgba(98, 131, 220, 0.49)
            )
            border-box;
      border-radius: 20px;
      border: 4px solid transparent;
      padding: 48px;
      .box_content {
         display: flex;
         flex-direction: column;
         row-gap: 10px;
      }
   }
}
